.healthScore {
  border-radius: 1000rem;
  border: 10px solid;
}

.top-notch {
  border-color: green;
  color: green;
}

.good {
  border-color: greenyellow;
  color: greenyellow;
}

.okay {
  border-color: yellow;
  color: yellow;
}

.bad {
  border-color: orange;
  color: orange;
}

.disaster {
  border-color: red;
  color: red;
}
